
h1{ color: #DA70D6

}

h2{ color: #9400D3

}

p{
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;

}

p.interview{
	color: purple

}
#medias{border: dotted 3px red;
		padding: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		width: 70px
}

img{border: dashed 3px red;
	padding: 3px;
	width: 200px

}
#jacket{margin-right: 80px


}

@media(min-width: 900px){


	
}